<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Purchase History</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">JWP Project</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="admin">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="adminCRUD">Manage C&A</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="adminLogHistory">Log History</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="adminViewPurchaseHistory">Purchase History</a>
        </li>

      </ul>
    </div>
    <div >
      <a class="btn btn-danger" href="cleanSession">Logout</a>
    </div>
  </div>
</nav>
<table class="container table">
  <thead>
  <tr>
    <th> Name </th>
    <th> Quantity </th>
    <th> Date </th>
    <th> Type </th>
    <th> Username </th>
  </tr>
  </thead>
  <tbody>
  <tr th:if="${purchaseHistory.empty}">
    <td colspan="2"> No History Available </td>
  </tr>
  <tr th:each="p : ${purchaseHistory}">
    <td><span th:text="${p.article}"> Name </span>
    <td><span th:text="${p.quantity}"> Quantity </span>
    <td><span th:text="${p.date}"> Date </span>
    <td><span th:text="${p.type}"> Type </span>
    <td><span th:text="${p.user.username}"> Type </span>
    </td>
  </tr>
  </tbody>
</table>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>